$primary: #095b74 !default;
$secondary: #f166a9 !default;
$success: #5cb85c !default;
$info: #a2afc7 !default;
$warning: #f0ad4e !default;
$danger: #b9302c !default;


@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Special+Elite&display=swap');


body {
    font-family: 'DM Sans', sans-serif;
    background: #eceff0;
    padding-top: 3.6em;
    
}

.navbar a.nav-link {
    color: #333 !important;
}

.more-rounded {
    border-radius: 1.5em;
}

.hero-section {
    background-color: #2F1893;
    font-family: 'Special Elite', serif;
    
    
    .hero-inner-bg {
        background-size: cover !important;
    }
}

.font-special-elite {
    font-family: 'Special Elite', serif;
}

.highlight {
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;

}

.highlight-PERSON {
    background-color: #D989B8;
}

.highlight-ORG {
    background-color: #7D93B0;
}

.highlight-LOC {
    background-color: #9DC2BE;
}

.highlight-GPE {
    background-color: #8268AB;
}

.highlight-NORP {
    background-color: #FFC18C;
}

.highlight-FAC {
    background-color: #F5DFB3;
}

.highlight-LAW {
    background-color: #9DF5F0;
}

.highlight-EVENT {
    background-color: #9DF5F0;
}

.highlight-PRODUCT {
    background-color: #9DF5F0;
}

.highlight-WORK_OF_ART {
    background-color: #9DF5F0;
}

.highlight-LANGUAGE {
    background-color: #9DF5F0;
}

.highlight-DATE {
    background-color: #9DF5F0;
}

.highlight-TIME {
    background-color: #9DF5F0;
}

.highlight-PERCENT {
    background-color: #9DF5F0;
}

.highlight-MONEY {
    background-color: #9DF5F0;
}

.highlight-QUANTITY {
    background-color: #9DF5F0;
}

.highlight-ORDINAL {
    background-color: #9DF5F0;
}

.highlight-CARDINAL {
    background-color: #9DF5F0;
}

.highlight-EMAIL {
    background-color: #9DF5F0;
}

.highlight-IBAN {
    background-color: #9DF5F0;
}

.DexiBadge {
    font-size: 12px;
    padding: 0.2em 0.5em;
    font-weight: bold;
    border-radius: 8px;
}

.entityDetails {
    font-size: 14px;
}

.docMeta {
    list-style: none;
    padding: 0;
    font-size: 0.9em;

    li {
        display: inline-block;
        margin-right: 1em;
    }
}


.features-block {
    font-size: 0.9em;
}

.side-panel {
    background: #eee;
}

footer {
    background: #44434A;
}

.custom-checkbox {
    width: 1em;
    height: 1em;
    border-radius: 2px;
    border: 1px solid #999;
    position: relative;
    top: -3px;
}

.custom-checkbox-checked {
}

.custom-checkbox-checked::after {
    content: '✓';
    color: #666;
    position: absolute;
    top: -8px;
    font-weight: bold;
    font-size: 1.4em;
    
}

.cursor-pointer {
    cursor: pointer;
}
