gunicorn
Django>=2.2
djangorestframework>=3.12.1
dj-rest-auth
django-allauth
django-cors-headers>=3.0.0
django-storages
boto3
importlib-metadata==4.13.0
celery==4.4.1
redis==3.4.1
psycopg2-binary
# Misc
numpy
natsort
# OCR
python-poppler
PyPDF2
pdf2image
pytesseract
Image
pillow
# SPACY and MODELS
spacy
blackstone
asent
spacyfishing
spacyopentapioca